* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.panel {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
	padding: 30px 0;
}

.panel__excursions {
	width: 70%;
}

.excursions {
	display: flex;
	flex-wrap: wrap;
}

.excursions__item {
	background-color: rgb(252, 252, 252);
	border: 1px solid darkmagenta;
	border-radius: 5px;
	margin: 10px;
	padding: 20px;
	width: calc(50% - 20px);
}

.panel__form {
	padding: 20px;
	width: 30%;
}

.uploader,
.order {
	border-bottom: 1px solid #bbb;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.uploader__label,
.excursions__field-name,
.order__total-price,
.order__field,
.summary__prices {
	font-weight: bold;
}

.uploader__label,
.order__field,
.summary__prices {
	color: rgb(55, 235, 237);
}

.order__total-price,
.excursions__field-name {
	color: purple;
}

.excursions__field-input--submit,
.excursions__field-input .uploader__input,
.order__field-submit {
	padding: 5px;
	margin-top: 20px;
	color: purple;
	border-radius: 5px;
	border: 1px solid rgb(55, 235, 237);
	background-color: white;
}

.excursions__title,
.summary__title {
	color: darkmagenta;
}

.excursions__description {
	color: grey;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}
.summary__title {
	margin-top: 10px;
}

.summary__btn-remove {
	margin-left: 15px;
	color: palevioletred;
	font-size: x-large;
}

.alertsList {
	margin-left: 15px;
	color: palevioletred;
	font-size: small;
	margin-left: 0;
	margin-top: 10px;
}
